replicaCount: 1

image:
  repository: us-central1-docker.pkg.dev/devops-test-2026/staging-repo/devops-demo-api
  pullPolicy: IfNotPresent
  tag: "1.0.1"

service: 
  type: ClusterIP
  port: 80
  targetPort: 8080

resources: 
  requests:
    cpu: 200m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

probes: 
  path: /health
  port: 8080

labels:
  app: devops-demo-api

gateway:
  enabled: false

# Image -- changed by region
# tag -- changed by pipeline
# replicas -- changed by enironment
# resources -- adjusted by cluster

# In other clusters or regions change values.yaml or use -f values-prod.yaml