apiVersion: networking.gke.io/v1
kind: HealthCheckPolicy
metadata:
  name: devops-api-healthcheck
  namespace: prod
spec:
  default:
    checkIntervalSec: 10
    timeoutSec: 5
    healthyThreshold: 1
    unhealthyThreshold: 3
    config:
      type: HTTP
      httpHealthCheck:
        port: 8080
        requestPath: /health
  targetRef:
    group: ""
    kind: Service
    name: devops-test-api-devops-api

