replicaCount: 2

image:
  repository: us-east1-docker.pkg.dev/[PROJECT_ID]/prod-repo/devops-demo-api
  pullPolicy: Always

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 200m
    memory: 256Mi

gateway:
  enabled: true

service:
  type: ClusterIP
  port: 80

serviceAccount:
  create: true
  name: "devops-test-api-sa"